<h1>Homepage</h1>
<div hello-world></div>
<div class="top-div">
    <label>Set limit:</label>
    <input type="number" ng-model="limit">
    <label>Filter:</label>
    <input type="text" ng-model="search">
    <button ng-show="!dirList.toggle" ng-click="dirList.toggle = true">Show Names</button>
    <button ng-show="dirList.toggle" ng-click="dirList.toggle = false">Hide Names</button>
</div>
<ul ng-if="dirList.toggle">
    <li ng-repeat="item in dirList.list | filter: search | limitTo: limit"
        ng-class="item.age > 29 ? 'over-thirty' : 'under-thirty'">
        <!--ng-include="'person.html'">-->
        <directory-person></directory-person>
    </li>
</ul>
<form ng-submit="dirList.addPerson()">
    <input type="text" placeholder="Name" ng-model="dirList.name">
    <input type="number" placeholder="Age" ng-model="dirList.age">
    <input type="submit" value="Submit">
</form>